{% extends  'buyer/base.html' %}
{% load static %}


{% block pagecontent %}
<div style="border: 0.5px solid; margin:0px ;"> </div>
<div class="container">
<section>    
<div style="padding-left: 0px;" class="col-12">
   
       advance search  advance search advance search advance search ad d df d sf ds f ds f sd f sd f sd f df  sdf s df sd f sd f ds fs d fsd f sd f sd f sd f sdf sd f sdf sd f sd f sd f sfs dsf sd fds f sd f dsf ds f sd f sdf ds f sd f sd f sd f dsf 

</div>
</section>
</div>

{% endblock %}