{% extends  'buyer/base.html' %}
{% load static %}
<title>{% block title %} Advance Search  {% endblock %}</title>

 {% block pagecontent %}
 
 <!-- <hr>
 <br> -->
 
 <div class="container">
    <div class="row">
      <div class="col-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Advance Search</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-condo" role="tab" aria-controls="nav-profile" aria-selected="false">Condo Search</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-mls" role="tab" aria-controls="nav-contact" aria-selected="false">MLS Number Search</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-foreclosure" role="tab" aria-controls="nav-about" aria-selected="false">Foreclosure Search</a>
            <a class="nav-item nav-link" id="nav-zipcode-tab" data-toggle="tab" href="#nav-zipcode" role="tab" aria-controls="nav-zipcode" aria-selected="false">ZIP Code Search</a>
            <a class="nav-item nav-link" id="nav-sold-tab" data-toggle="tab" href="#nav-sold" role="tab" aria-controls="nav-sold" aria-selected="false">Sold Search</a>
            <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Address Search</a>
          
        </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
       
       <!--- advance search  tab-->   
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
           
            <!---    advance search section -->
            <div class="row">
                <div class="col">
                    <h3>Location</h3>
                    <div class="panel panel-default location">
                      <div class="row"> 
                      <div class="col-md-6"><h4>City </h4>
                      <br>
                      </div>
                      <div class="col-md-6"><h4>Area</h4> 
                      <br>
                      </div>
                      </div>
                        <div class="panel-body">
                            <form>
                             <div class="row"> 
                             <div class="col-md-6">   
                      
                      <select multiple class="form-control" id="sel1">
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>

                    
                    </select>
                      
                         </div>
                         <div class="col-md-6">   
        
                      <select multiple class="form-control" id="sel1">
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        
                      </select>
                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <h3>Property</h3>
                    <div class="panel panel-default property">
                        <div class="panel-body">
                            <form>
                                <h6>Property Type</h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Condo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Land</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Multi-Res</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Price</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                    <span class="mt-4">to</span>
                                    <div class="col">
                                        <label for="p-id"></label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Min Sq. Feet</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Min Beds</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Min Baths</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                             <option value="Boston"> </option>
                                             <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Year Built</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                            <option value="Boston"> </option>
                                            <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Style</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                             <option value="Boston"> </option>
                                             <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Foreclosure</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                            <option value="Boston"> </option>
                                            <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Min. Acres</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                             <option value="Boston"> </option>
                                             <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Short Sale</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                            <option value="Boston"> </option>
                                            <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                </div>
        
        
        
                                <button class="btn btn-danger" id="p-submit">Search</button>
                                <button class="btn btn-danger" id="p-submit">Map Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           <!-- -------advance search section end     ----------   -->   
          
        </div>
         <!---       advance search  tab  end --> 

          <!---    condo search tab -->
          <div class="tab-pane fade" id="nav-condo" role="tabpanel" aria-labelledby="nav-profile-tab">
            
             <!---    condo search section -->
                <div class="row">
                    <div class="col">
                        <h3>Location</h3>
                        <div class="panel panel-default location">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>City</h4>
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <h4>Area</h4>
                                    <br />
                                </div>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select multiple class="form-control condo-dropdown">
                              <option>Boston</option>
                              <option>Boston</option>
                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select multiple class="form-control condo-dropdown">
                              <option>Medford</option>
                              <option>Lynn</option>
                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <h3>Property Details</h3>
                        <div class="panel panel-default property">
                            <div class="panel-body">
                                <form>
                                    <h4>Building Name</h4>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select multiple class="form-control condo-dropdown">
                              <option>Medford</option>
                              <option>Lynn</option>
                            </select>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <label for="p-id">Price</label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                        <span class="mt-4">to</span>
                                        <div class="col">
                                            <label for="p-id"></label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <label for="p-id">Min Sq. Feet</label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                        <div class="col">
                                            <label for="p-id">Min Beds</label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="p-id">Min Baths</label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                        <div class="col">
                                            <label for="p-id">Style</label>
                                            <input id="p-id" type="text" class="form-control" list="price" />
                                            <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" id="p-submit">Search</button>
                                    <button class="btn btn-danger" id="btn-map">Map Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
             <!-- -------condo search section end     ----------   -->  

          </div>
           <!---    condo search tab end -->
           
           <!---    mls search tab -->
          <div class="tab-pane fade" id="nav-mls" role="tabpanel" aria-labelledby="nav-contact-tab">
          
            <div class="row">
                <div class="search-panel">
                    <div class="panel panel-default address-search-box address-search">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1 ">
                                        Enter any number of MLS numbers in the box below, separated by commas, and we'll bring up those properties for you.
                                   </label>
        
                      <input
                        type="email "
                        class="form-control"
                        id="exampleInputEmail1 "
                        aria-describedby="emailHelp "
                      />
                    </div>
                    <button class="btn btn-danger" id="p-submit">Search</button>
                    <button class="btn btn-danger" id="btn-map-search">Map Search</button>
                  </form>
                </div>
              </div>
            </div>
            

          </div>
            

          </div>
          <!---    mls search tab end -->
           
          <!----       foreclosure tab -->  
          <div class="tab-pane fade" id="nav-foreclosure" role="tabpanel" aria-labelledby="nav-about-tab">
           <div class="row">
                <div class="col">
                    <h3>Location</h3>
                    <div class="panel panel-default location">
                      <div class="row"> 
                      <div class="col-md-6"><h4>City </h4>
                      <br>
                      </div>
                      <div class="col-md-6"><h4>Area</h4> 
                      <br>
                      </div>
                      </div>
                        <div class="panel-body">
                            <form>
                             <div class="row"> 
                             <div class="col-md-6">   
               
                      <select multiple class="form-control" id="sel1">
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                        <option>Boston</option>
                   
                    </select>
                      
                         </div>
                         <div class="col-md-6">   
        
                      <select multiple class="form-control" id="sel1">
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        <option>Medford</option>
                        <option>Lynn</option>
                        
                      </select>
                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <h3>Property</h3>
                    <div class="panel panel-default property">
                        <div class="panel-body">
                            <form>
                                <h6>Property Type</h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Condo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Land</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Multi-Res</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Foreclosures only</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Price</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                    <span class="mt-4">to</span>
                                    <div class="col">
                                        <label for="p-id"></label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Min Sq. Feet</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Min Beds</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                          <option value="Boston"> </option>
                          <option value="Cambridge"> </option>
                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Min Baths</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                             <option value="Boston"> </option>
                                             <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Year Built</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                            <option value="Boston"> </option>
                                            <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="p-id">Style</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                             <option value="Boston"> </option>
                                             <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="p-id">Min. Acres</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                                            <option value="Boston"> </option>
                                            <option value="Cambridge"> </option>
                                        </datalist>
                                    </div>
                                </div>
                            
        
        
        
                                <button class="btn btn-danger" id="p-submit">Search</button>
                                <button class="btn btn-danger" id="p-submit">Map Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <!----       foreclosure tab end --> 
        
            <!---  Zip code search --------------------->
            <div class="tab-pane fade" id="nav-zipcode" role="tabpanel" aria-labelledby="nav-zipcode-tab">
             
                <div class="row">
                    <div class="col">
                      <h3>Location</h3>
                      <div class="panel panel-default location">
                        <div class="row">
                          <div class="col-md-6">
                            <h4>Zip</h4>
                            <br />
                          </div>
                        </div>
                        <div class="panel-body">
                          <form>
                            <div class="row">
                              <div class="col-12">
                                <select multiple class="form-control" id="zip">
                                  <option>00000</option>
                                  <option>00119</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                
                    <div class="col">
                      <h3>Property Detail</h3>
                      <div class="panel panel-default property">
                        <div class="panel-body">
                          <form>
                            <h6>Property Type</h6>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox1"
                                value="option1"
                              />
                              <label class="form-check-label" for="inlineCheckbox1">Home</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox2"
                                value="option2"
                              />
                              <label class="form-check-label" for="inlineCheckbox2"
                                >Condo</label
                              >
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox3"
                                value="option2"
                              />
                              <label class="form-check-label" for="inlineCheckbox3">Land</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox4"
                                value="option2"
                              />
                              <label class="form-check-label" for="inlineCheckbox4"
                                >Multi-Res</label
                              >
                            </div>
                            <div class="row">
                              <div class="col">
                                <label for="zip-id1">Price</label>
                                <input
                                  id="zip-id1"
                                  type="text"
                                  class="form-control"
                                  list="price"
                                />
                                <datalist id="price">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                              <span class="mt-4">to</span>
                              <div class="col">
                                <label for="zip-id2"></label>
                                <input
                                  id="zip-id2"
                                  type="text"
                                  class="form-control"
                                  list="price_to"
                                />
                                <datalist id="price_to">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                            </div>
                
                            <div class="row">
                              <div class="col">
                                <label for="zip-id3">Min Sq. Feet</label>
                                <input
                                  id="zip-id3"
                                  type="text"
                                  class="form-control"
                                  list="sq-feet"
                                />
                                <datalist id="sq-feet">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                              <div class="col">
                                <label for="zip-id4">Min Beds</label>
                                <input
                                  id="zip-id4"
                                  type="text"
                                  class="form-control"
                                  list="min-bed"
                                />
                                <datalist id="min-bed">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <label for="zip-id5">Min Baths</label>
                                <input
                                  id="zip-id5"
                                  type="text"
                                  class="form-control"
                                  list="min-bath"
                                />
                                <datalist id="min-bath">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                              <div class="col">
                                <label for="zip-id6">Style</label>
                                <input
                                  id="zip-id6"
                                  type="text"
                                  class="form-control"
                                  list="style"
                                />
                                <datalist id="style">
                                  <option value="Boston"> </option>
                                  <option value="Cambridge"> </option>
                                </datalist>
                              </div>
                            </div>
                            <button class="btn btn-danger" id="zip-submit">Search</button>
                            <button class="btn btn-danger" id="btn-map">Map Search</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
           
            </div>
            <!---  Zip code search end--------------------->

             <!---  sold search --------------------->
             <div class="tab-pane fade" id="nav-sold" role="tabpanel" aria-labelledby="nav-sold-tab">
               
                <div class="row">
                    <div class="col">
                        <h3>Location</h3>
                        <div class="panel panel-default location">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>City</h4>
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <h4>Area</h4>
                                    <br />
                                </div>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select multiple class="form-control" id="sel1">
                              <option>Boston</option>
                              <option>Boston</option>
                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select multiple class="form-control" id="sel1">
                              <option>Medford</option>
                              <option>Lynn</option>
                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <h3>Property</h3>
                        <div class="panel panel-default property">
                            <div class="panel-body">
                                <form>
                                    <h6>Property Type</h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                        <label class="form-check-label" for="inlineCheckbox1">Home</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                        <label class="form-check-label" for="inlineCheckbox2">Condo</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="inlineCheckbox2"
                            value="option2"
                          />
                          <label class="form-check-label" for="inlineCheckbox2">Land</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                        <label class="form-check-label" for="inlineCheckbox2">Multi-Res</label
                          >
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="inlineCheckbox2"
                            value="option2"
                          />
                          <label class="form-check-label" for="inlineCheckbox2">Sold only</label>
                        </div>
                        <div class="row">
                          <div class="col">
                            <label for="p-id">Price</label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                    </div>
                                    <span class="mt-4">to</span>
                                    <div class="col">
                                        <label for="p-id"></label>
                                        <input id="p-id" type="text" class="form-control" list="price" />
                                        <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                    </div>
                            </div>
            
                            <div class="row">
                                <div class="col">
                                    <label for="p-id">Min Sq. Feet</label>
                                    <input id="p-id" type="text" class="form-control" list="price" />
                                    <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                </div>
                                <div class="col">
                                    <label for="p-id">Min Beds</label>
                                    <input id="p-id" type="text" class="form-control" list="price" />
                                    <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="p-id">Min Baths</label>
                                    <input id="p-id" type="text" class="form-control" list="price" />
                                    <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                </div>
                                <div class="col">
                                    <label for="p-id">Style</label>
                                    <input id="p-id" type="text" class="form-control" list="price" />
                                    <datalist id="price">
                              <option value="Boston"> </option>
                              <option value="Cambridge"> </option>
                            </datalist>
                                </div>
                            </div>
                            <button class="btn btn-danger" id="p-submit">Search</button>
                            <button class="btn btn-danger" id="btn-map">Map Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                
             </div>
        <!---  sold  search end--------------------->

         <!---  address search --------------------->
         <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
            
            <div class="row">
                <div class="search-panel">
                    <div class="panel panel-default address-search-box address-search">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1 ">Enter any words from an address, separated by spaces (not
                        commas), and we'll bring up those properties for you.</label>
        
                      <input
                        type="email "
                        class="form-control"
                        id="exampleInputEmail1 "
                        aria-describedby="emailHelp "
                      />
                    </div>
                    <button class="btn btn-danger" id="p-submit">Search</button>
                    <button class="btn btn-danger" id="btn-map-search">Map Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!---  address  search end--------------------->


        </div>
      
      </div>
    </div>
</div>



{% endblock %}

