{% extends 'buyer/base.html' %} {% load static %}
<title>{% block title %} Blog {% endblock %}</title>

{% block pagecontent %}


<div style="border: 0.5px solid;"> </div>

 <br>
 <br>

<!--Section-Video-->
<div class="container">
    <div class="row">
        <div class="col ">
            <div class="header text-center">
                <div class="video-container ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QeE8WAFssvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-
						   picture" allowfullscreen>
					</iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section-End-->




<!--Secition-Social-Icon-->
<div class="container">
    <div class="row">
        <div class="col" style="left:30%; margin-bottom: 20px;">
            <div id="wrap">
                <a class="social-btn twitter">
                    <i class="fa fa-twitter"></i> Twitter
                </a>

                <a class="social-btn linkedin">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>

                <a class="social-btn facebook">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </div>
        </div>
    </div>

</div>
<!--Section-End-->
{% endblock %}